* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #ccc;
  box-sizing: border-box;
}

html {
  background-color: #282a36;
  position: relative;
  min-height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232529;
  color: #ccc;
  font-weight: 900;
  font-size: 56px;
  padding: 40px;
}

.header > p {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  text-align: center;
}

.status > #who-wins {
  font-size: 40px;
  font-weight: 900;
  color: #ddd;
}

.status > #info {
  font-size: 20px;
}

.battle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
}

.card {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.card > .item {
  font-size: 100px;
}

.card > .wins {
  font-size: 18px;
  color: #aaa;
}

#selection {
  justify-content: center;
  display: flex;
  gap: 64px;
  height: 140px;
  flex-wrap: wrap;
}

button {
  font-size: 100px;
  background-color: transparent;
  border: none;
}

button:hover {
  text-shadow: 0 0 20px #a4b4f4;
  font-size: 120px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 550;
  height: 50px;
  background-color: #282a36;
  padding: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.icon {
  font-weight: 900;
  font-size: 18px;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .header {
    padding: 16px;
    font-size: 40px;
    line-height: 1.5;
  }
  .content {
    padding: 20px;
    gap: 32px;
  }
  #user > .item , #computer > .item{
    font-size: 80px;
  }
  #selection > button {
    font-size: 80px;
  }
  .status > #who-wins {
    font-size: 32px;;
  }
  .status > #info {
    font-size: 16px;
  }
  .card > .wins {
    font-size: 16px;
  }
}

